.navbar{
    .container-fluid{
    .collapse{
        ul{
            li{
                margin-right: 10px;
                a{
                    display: block;
                }
                .dropdown{
                    .dropbtn{
                        font-size: 16px;  
                        border: none;
                        outline: none;
                        color: rgb(39, 18, 18);
                        padding: 10px 16px;
                        background-color: inherit;
                        font-family: inherit;
                        margin: 0;
                    }
                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #f9f9f9;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                        a {
                            float: none;
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                            text-align: left;
                          }
                          a:hover {
                            background-color: #ddd;
                          }
                        
                      }
                    
                }
                .dropdown:hover{
                    .dropdown-content {
                        display: block;
                      }

                }
            }
        }
    }
}
}