.hero{
    width: 100%;
    padding-top: 10px;
  
    .carousel .slider-wrapper{
        width: 80%;
        height: 600px;
    }
    .carousel .thumb{
        width :5%;
        height : 50px;
    }
    .carousel{
        text-align: center;
    }
}