
.parent{
    margin-top: 20px;
    h3{
        margin-left: 40px;
    }
    .row1{
        margin-left: 20px;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
    }

}
