.column{
    margin-left: 10px;
    width: 200px;
    height: auto;
    
    img{
        width: 200px;
        height: 200px;
    }
    .card-body{
        .btn{
            text-align: center;
        }
    }
}